@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto-Sans', system-ui, -apple-system, sans-serif;
  }

  body {
    font-size: var(--text-base);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-900 dark:text-white font-medium tracking-tight;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-lg);
  }
  p {
    font-size: var(--text-sm);
  }
}

@theme {
  --color-navy: #001b2e;
  --color-ice-blue: #eef3f9;
  --color-sky-blue: #b3cde4;
  --color-deep-blue: #1d3f58;
  --color-steel-blue: #537692;
  --color-neutral-inverse: #6D6D6D;
}